{% extends 'index.html.twig' %}

{% block body %}
	{% from 'macros.html.twig' import Pagination, Playerbadge, empty %}
	<header class="d-flex align-items-center justify-content-between pb-3 mb-3 border-bottom">
		<span class="fs-4 mb-0">My Notes</span>
		<span style="font-size: .75rem">Deleted and secret notes are not visible</span>
	</header>
	{{Pagination(pagination.pages, pagination.currentPage, pagination.url, 'mb-3',false)}}
    {% for n in notes %}
        {% include 'notes/components/noteListEntry.html.twig' with {'dest': 'me.note'} %}
    {% else %}
        {{empty("No Notes")}}
    {% endfor %}
	{{Pagination(pagination.pages, pagination.currentPage, pagination.url, '', false)}}
{% endblock %}
